@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');
@import 'tailwindcss';
@plugin "@tailwindcss/typography";

body {
  @apply bg-gray-900 text-white;
  font-family: 'Google Sans';
}
